Repository youngchan2/dotfile: changes, and which lefthook commands are due for each by the changed paths.
All: ansible-lint, prettier

ansible-lint:
  run: ansible-lint --fix --exclude task/install/darwin/base.yaml {staged_files}

prettier:
  run: prettier --write {all_files}

chore: remove test action
  .github/workflows/test.yaml
Due: ansible-lint, prettier

chore: preserve nvim plugin folder
  task/install/linux/nvim.yaml
Due: ansible-lint, prettier

feat: add claude code config
  config/.profile
  config/claude_code/settings.json
  config/zed/settings.json
  lefthook.yaml
  task/configure/base.yaml
  task/configure/claude_code.yaml
Due: ansible-lint, prettier

chore(deps): update dependency sharkdp/bat to v0.26.1 (#11)
  version.yaml
Due: ansible-lint, prettier

chore(deps): update dependency burntsushi/ripgrep to v15 (#12)
  version.yaml
Due: ansible-lint, prettier

chore: change terminal font
  config/ghostty/config
Due: none

chore: change Python LSP
  config/zed/settings.json
Due: none

chore: add repository upstream source
  script/init.sh
  script/update.sh
Due: none

chore: change CODEX_HOME
  config/.profile
Due: prettier

feat: add forktree script
  config/.profile
  script/forktree
Due: prettier

chore: update update.sh and link forktree
  script/update.sh
  task/configure/shell.yaml
Due: ansible-lint, prettier

feat: add forktree resume function
  script/forktree
Due: none

chore(deps): update dependency cli/cli to v2.85.0 (#13)
  version.yaml
Due: ansible-lint, prettier

chore(deps): update dependency cli/cli to v2.86.0 (#14)
  version.yaml
Due: ansible-lint, prettier

chore(deps): update dependency neovim/neovim to v0.11.6 (#15)
  version.yaml
Due: ansible-lint, prettier

Path conditions:
  ansible-lint: any of: *.yaml
  prettier: any of: {config/.profile,config/.rc.d/*.{sh,bash},*.yaml}
